.con {
    padding: 220px 0px 100px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.con p.heading{
    font-size: 14px;
    color: grey;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 12px;
    letter-spacing: 5px;

}
.con h2{
    font-size: 50px;
    font-weight: 600;
}
.con h2:first-of-type{
    margin-bottom: 0px;
}
.con h2:last-of-type{
    margin-bottom: 55px;
}
.con form input:focus,
.con form textarea:focus{
    outline: none;
}
.con form input,
.con form textarea{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding-bottom: 12px;
}

.con form input[type="text"]:first-of-type{
    float: left;
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.con form input[type="email"]{
    float: left;
    width: 47.5%;
    margin-bottom: 50px;
}
.con form input[type="text"]:last-of-type{

    display: block;
    width: 100%;
    margin-bottom: 50px;
    
}
.con form textarea{
    display: block;
    width: 100%;
    margin-bottom: 50px;

}
.con form button{
    background-color: #F9AD81;
    color: white;
    padding: 12px 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    border: 1px solid #F9AD81;

}
.con .info{
    overflow: hidden;
}

.con .info  button{
    background-color: #F9AD81;
    color: white;
    padding: 12px 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    border: 1px solid #F9AD81;
    margin-left: 145px;
    margin-bottom: 130px;

}
.con .info .info-box {
    background-color: #F6F9FB;
    padding: 60px 70px;
}
.con .info .info-box img{
    margin-bottom: 35px;
}
.con .info .info-box ul{
    margin-bottom: 50px;
}
.con .info .info-box ul li{
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}
.con .info .info-box i {
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
@media (max-width: 992px){
    .con {
        padding: 300px 0px 100px;
    }    
    .con form button{
        margin-bottom: 50px;
    }
    .con .info  button{
        margin-bottom: 10px;
        margin-left: 450px;
    }
}
@media (max-width: 767px){
    .con .info  button{
        margin-left: 280px;
        padding: 12px 10px;

    }
}
